*{
    text-align: center;
}

.link-style{
    font-weight: bold;
    color: green;
    font-size: 2rem;
    text-decoration: none;
    margin: 30px;
}

.link-nomal-style{
    text-decoration: none;
    font-size: 2rem;
    color: black;
    margin: 30px;
}
