/* NavLink와 Link는 a의 디자인을 넣어서 바꾼다.*/
/* Link의 경우 className이 안 먹히는 경우가 있다. */
*{
    text-align: center;
}

.link-style{
    font-weight: bold;
    color: green;
    font-size: 2rem;
    text-decoration: none;
    margin: 30px;
}

.link-nomal-style{
    text-decoration: none;
    font-size: 2rem;
    color: black;
    margin: 30px;
}
